<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10 seconds">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <conversionRule conversionWord="highlighter" converterClass="ir.moke.microfox.log.LogHighlighter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MMM-dd HH:mm:ss} [%t] [%highlighter(%-5level)] %logger{36} [%M:%L] - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="io.swagger" level="OFF"/>
    <logger name="com.zaxxer" level="OFF"/>
    <logger name="org.hibernate" level="OFF"/>
    <logger name="org.apache.ibatis.io" level="OFF"/>
    <logger name="org.apache.commons" level="OFF"/>
    <logger name="org.apache.activemq" level="OFF"/>
    <logger name="io.netty" level="OFF"/>
    <logger name="org.eclipse" level="OFF"/>
    <logger name="ir.moke.microfox" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
